.portrait-div{
	height:400px;
	width:400px;
	
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
}
#portrait{
	border:1px solid #ddd;
	border-radius: 50%;
	height:400px;
	width:400px;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}